<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="vue.js"></script>
  <link rel="stylesheet" href="style.css">
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
  <title>Invento Leaderboard</title>
</head>

<body>
  <div id="app">
    <center>
      <h1>Leaderboard</h1>
    </center>
    <div class="card" v-for="card in cards">
      <button class="accordion">
        <p>
          <b>Referral:</b>
          {{ card.referral }}
        </p>
        <p>
          <b>Count:</b>
          {{ card.count }}
        </p>
      </button>
      <div class="panel">
        <p>
          <b>Name:</b>
          {{ card.name }}
        </p>
        <p>
          <b>College:</b>
          {{ card.college }}
        </p>
        <p>
          <b>Branch:</b>
          {{ card.branch }}
        </p>
        <p>
          <b>Year:</b>
          {{ card.year }}
        </p>
      </div>
    </div>

    <center>
      <h1>Check your Points</h1>
      <label for="ref">
        <p class="referral-p">Referral Code:</p>
        <input id="ref-id" name="ref" type="text" placeholder="Referral Code">
        <button @click="checkpoints" style="padding:5px;">Check Points</button>
      </label>
    </center>
    <div class="card">
      <button class="accordion">
        <p>
          <b>Referral:</b>
          <span id="ref"></span>
        </p>
        <p>
          <b>Count:</b>
          <span id="count"></span>
        </p>
      </button>
      <div class="panel">
        <p>
          <b>Name:</b>
          <span id="ref_name"></span>
        </p>
        <p>
          <b>College:</b>
          <span id="college"></span>
        </p>
        <p>
          <b>Branch:</b>
          <span id="branch"></span>
        </p>
        <p>
          <b>Year:</b>
          <span id="year"></span>
        </p>
      </div>
    </div>

    <center>
      <div>
        <a href="/referrals/generate_otp">Click here</a>
        to generate your own referral
      </div>
      <h1>IET Leaderboard</h1>
    </center>
    <table class="check-points">
      <tr>
        <th>Branch</th>
        <th>Count</th>
      </tr>
      <tr v-for="card in iet_cards">
        <td>{{ card.name }}</td>
        <td>{{ card.count }}</td>
      </tr>
    </table>
    <!-- </div> -->
  </div>
  <script src="leaderboard.js"></script>
</body>

</html>